@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Space Mono", monospace;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.heading{
    width: 852px;
    height: 130px;
    text-align: center;
    margin: 50px auto 40px auto;
}
/* =====hero section start====== */
.hero-container{
    background-image: url(../img/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:635px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
.hero-container .hero-content{
    text-align: center;
    width: 990px;
    height:560px ;
}
.hero-container .hero-content img{
    height:212px;
    width: 220px;
}
.hero-container .hero-content h1{
    width: 998px;
    height: 136px;    
    color: rgb(13, 19, 33);
    font-size: 45px;
    font-weight: 800;
    line-height: 62px;
    margin: 15px 0;
}
.hero-container .hero-content p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    width: 852px;
    height: 52px;
    margin: 0 auto 50px auto;
}
.hero-btn{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 21px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center; 
    padding: 16px 28px;
    border-radius: 8px;
    background: rgb(13, 19, 33);      
}
/* =====hero section end====== */
/* =====web development start=====*/
.web-development{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    height: 1220px;
}
.web-development-content{
    padding: 10px 75px;
}
.web-development-heading h1, .my-inspiration-heading h1, .current-target-heading h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 33px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: -1px;
    word-spacing: 5px;
}
.web-development-heading p, .my-inspiration-heading p, .current-target-heading p{
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 20px 0;
}
.web-development .coding-style, .creat-web-system, .change-world, .inspiration-video{
    display: flex;
    border-radius: 16px;
    padding: 48px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    height: 232px;
}
.coding-style-content, .creat-web-system-content, .change-world-content{
    width: 648px;
    text-align: left;
}
.coding-style-content h3, .creat-web-system-content h3, .change-world-content h3{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
.coding-style-content p, .creat-web-system-content p, .change-world-content p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7; 
    margin: 15px 0;   
}
.coding-style-content-btn, .creat-web-system-btn, .change-world-btn{
    box-sizing: border-box;
    border: 2px solid rgb(134, 134, 135);
    opacity: 0.7;  
    padding: 12px 26px; 
    text-transform: capitalize; 
    font-size: 18px;
    background: white;
}
.coding-style-img img, .change-world-img img{
    text-align: right;
}
.creat-web-system{
    margin: 30px 0;
}
.creat-web-system-img{
width: 275px;
}
/* =====web development end===== */
/* my inspiration start====== */
.my-inspiration{
    height: 620px;
    margin: 90px auto;
}
.inspiration-video{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    height: 520px;    
}
/* my inspiration end====== */
 /* ====my current target start====  */
.current-target{
    margin-top: 100px;
}
.current-target-content{
    height: 580px;
}
.current-target-main{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.current-child{
    border-radius: 16px;
    padding: 40px 30px;
}
.current-child h3{
    color: rgb(13, 19, 33);
    font-size: 21px;
    font-weight: 800;
    line-height: 36px;
    margin: 15px 0;
}
.current-child p{
    color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7; 
    margin-bottom: 10px;  
}
.current-child span{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-decoration-line: underline;  
    text-transform: capitalize;  
}
.current-child-1{
    background: rgba(255, 76, 30, 0.05);
}
.current-child-2{
    background: rgba(0, 76, 232, 0.05);
}
.current-child-3{
    background: rgba(255, 223, 0, 0.05);
}
/* =====my current target end===== */